<p-table [value]="les" dataKey="id" >
    <ng-template pTemplate="header">
        <tr>
            <th>Degree</th>
            <th>School</th>
            <th>City</th>
            <th>Country</th>
            <th>Start Time</th>
            <th>End Time</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-le>
        <tr>
            <td pEditableColumn>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="le.degree">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{le.degree}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td pEditableColumn>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="le.school" required>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{le.school}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td pEditableColumn>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                         <input pInputText type="text" [(ngModel)]="le.city" >
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{le.city}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td pEditableColumn>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="le.country">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{le.country}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td pEditableColumn>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="le.startTime">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{le.startTime}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td pEditableColumn>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="le.endTime">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{le.endTime}}
                    </ng-template>
                </p-cellEditor>
            </td>
        </tr>
    </ng-template>
 </p-table>