.header {
    margin-top: 20px;
}

.about {
    margin-top: 20px;
}

.skills {
    margin-top: 20px;
}

.education {
    margin-top: 20px;
    margin-right: 80px;
}

.projects {
    margin-top: 20px;
    margin-right: 80px;
}

.preview {
    margin-top: 20px;
}