    .dock-window {
        width: 100vw;
        height: 100vh;
        position: relative;
        background-image: url("../assets/images/dock/window.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
